body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.anime-list {
  width:auto;
  height:auto;
  margin: 5px;
  align-self: center;
  display: flex;
  margin-top: 20px;
  position: relative;
  flex-flow: row wrap;
  padding-left: 100px;
}
.anime-item{
  width:200px;
  height: auto;
  margin: 10px;
  border:1px solid black;
  padding-bottom: 10px;
}
.anime-item img{
  width:200px;
  height: 150px;
  object-fit: cover;
  
}
.anime-summary{
  width:100%;
  height:auto;
}

