body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  #00080f;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-bar {
  background-color: #010e1a;
  height: 70vwh;
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}
.nav-bar button{
  border: 0.3px solid white;
  margin: 20px;
  border-radius: 10px;
  width: 100px;
  height:auto;
  color: white;
  font-size: 16px;
  background-color: #010e1a;
}

.anime-list {
  width:auto;
  height:auto;
  margin: 5px;
  align-self: center;
  display: flex;
  margin-top: 20px;
  position: relative;
  flex-flow: row wrap;
  padding-left: 100px;
}
.anime-item{
  width:200px;
  height: auto;
  margin: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #010e1a;
}
.anime-item img{
  width:200px;
  height: 150px;
  object-fit: cover;
  
}
.anime-item button{
  height:40px;
  border: none;
  margin-top: 10px;
  background-color: #FFFF00;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
}
.summary-container{
  margin-top: 20px;
  width:auto;
  height:auto;
  display: flex;
  margin-left: 100px;
}
.summary-container img{
  width:30%;
  height:300px;
  object-fit: cover;
}
.desc-rating{
  width:70%;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}
.rating{
  margin-top: 100px;
}

.new-comment{
  padding-left: 100px;
  align-items: left;
}
.new-comment form{
    width: auto;
    margin-right: 100px;
    height: 80px;
    display: flex;
    padding-left: 10px;
    border-radius: 5px;
}
.new-comment input{
    flex: 1;
    padding: 0px;
    height: 80px;
    padding-left: 10px;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.527);
    border-radius: 5px;
}
.new-comment button{
  width:max-content;
  height:40px;
  background-color:  #FFFF00;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  text-align: center;
  margin-left: 20px;
  border:none;

}
.new-comment p{
  align-self: left;
}
.comment-item{
  width:auto;
  border: 1px;
  border-color: white;
  border-style: dashed;
  padding: 5px;
  border-radius: 10px;
  margin-right: 100px;
  padding-bottom: 10px;
  margin-top: 5px;
}
.comment-item p{
  text-align: start;
  padding-left:10px ;
  

}
.button-container{
  margin-top: 10px;
  align-items: left;
  width:auto;
  text-align: start;
}
.button-container button{
  margin-left:20px;
  border: none;
  padding-bottom: 2px;
  background: #010e1a;;
  border-color: white;
  color: white;
  

 
}

.comment-list{
  padding-left: 100px;
  align-items: left; 
}
.comment-list p{
  text-align: start;
}
.new-comment p{
  text-align: start;
}
.nav-user{
  display: flex;
}
